#io3d-inspector-plugins {
    * {
        // no outline (dotted border) after cklicking object
        outline: none;
        // prevent padding changing dimensions
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }
}

.io3d-inspector-plugins___truncate-message {
    display: inline-block;
    overflow:hidden;
    white-space: nowrap;
    max-width: 365px;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

@import "tab.less";
@import "plugin-manager.less";
@import "bake-lightmaps.less";
@import "list-tab.less";